.statsContainer {
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 110px;
}

.stats {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: -40px;
}

.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statItem h2 {
    color: #ee3425;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 0px;
    font-family: "Ubuntu", sans-serif;
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.statItem h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Ubuntu", sans-serif;
    color: #000;
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

@media (max-width: 767px) {
    .statsContainer{
        width:100%;
    }
    .stats{
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        margin-bottom: -40px;
    }
    .statItem{
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .statItem h2{
        font-size: 24px;
    }
    .statItem h4{
        font-size:  14px;
    }
}