.wide_container_RLauto{
    display: block;
    max-width: 1200px;
    padding:16px;
    margin-right: auto;
    margin-left: auto;
}

.flexcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.how_it_works_container{
    flex-direction: column;
    margin-bottom: 50px;
}

.how_it_works_container h3{
    font-size: 28px;
    line-height: 1.2;
    /* margin-top: 0;
    margin-bottom: 1em; */
    color:#000;
    font-family: "Ubuntu",sans-serif;

}

.hiw_btns_small_container{
    padding-top: 10px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.rc_btn{
    background-color: #ee3425;
    border:1px solid #ee3425;
    border-radius: 20px;
    width: 200px;
    height: 36px;
    padding:20px 18px;
    margin: 0 20px;
    margin-bottom: 16px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
    outline:none;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    font-weight: 700;
    appearance: auto;
    writing-mode: horizontal-tb;
}

.hiw_stages_container{
    position: relative;
    display: flex;
}

.hiw_item{
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}

.hiw_p1{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    font-family: "PT Sans",sans-serif;
    font-weight: 600;
    color: #ee3425;
    font-size: 16px;
    
    /* margin-top: 0;
    margin-bottom: 1em; */
}

.hiw_item_title{
    font-family: "PT Sans",sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 0px;
    list-style-position: outside;
}

.hiw_p2{
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */

    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 8px;
    line-height: 1.3;
    margin: 0;
}

.hiw_arrow_left_top{
    position: absolute;
    top: 100px;
    left: 300px;
}
.hiw_arrow_right_top{
    position: absolute;
    top: 100px;
    right: 300px;
}
.img_hiw_arrow{
    width:150px;
    height:60px;
}

.hiw_arrow_left_bottom{
    position: absolute;
    bottom: 112px;
    left: 300px;
}
.hiw_arrow_right_bottom{
    position: absolute;
    bottom: 112px;
    right: 300px;
}
.img_hiw_laptop{
    width: 560px;
    height: 320px;
}

@media (min-width: 1200px) {
    .smallComputerHiw{
        display: none;
    }
}

@media (max-width: 1200px) {
    .how_it_works_container{
        width: 100%;
    }
    .hiw_btns_small_container{
        display: flex;
        /* height:100px; */
        justify-content: space-between;
        flex-direction: column;
    }
    .hiw_arrow_left_top{
        display: none;
    }
    .hiw_arrow_right_top{
        display: none;
    }
    .hiw_arrow_left_bottom{
        display: none;
    }
    .hiw_arrow_right_bottom{
        display: none;
    }
    .hiw_stages_container{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .img_hiw_laptop{
        width: 280px;
        height: auto;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 20px;;
    }
    .small_container{
        margin:0 auto;
        width: fit-content;
        display: block;
    }
    .big_container{
        display: none;
    }
    .hiw_item{
        margin-bottom: 20px !important;
        width:100%;
    }
    .industries_served_container{
        margin-bottom: 0;
    }
    .heading_industries{
        font-size: 20px;
    }
    .industries_served_container .flex_row_wrap{
        justify-content: center;
    }
    .get_started_today_container{
        margin:0;
        width:100%;
        display: flex;
        flex-direction: column-reverse;
        width: 100%!important;
        padding-right: 16px!important;
        padding-left: 16px!important;
    }
    .img_pbfm_container{
        display: flex;
        flex: 1 1;
        justify-content: center;
        margin: 0;padding: 0;
        padding-top: 16px;
    }
    .img_pbfm_container img{
        margin: 0;padding: 0;
        height: 360px !important;
        width: auto !important;
    }
    .get_started_today_container h2{
        margin:0 !important;
    }
    .get_started_today_container .red_btn{
        display: inline-block;
        width: 100%;
    }
    .grow_f_w_c_univ_c{
        padding-bottom: 20px;
    }
    .grow_faster_container{
        width: 100%;
        display: block;
    }
    .grow_faster_container h3{
        font-size: 20px;
    }
    .grow_faster_container .red_btn{
        margin-top:-20px;
    }
}
