.ourProductSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 40px;
    background-color: #fffef2;
}

.oneStepSection{
    max-width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.oneStepSection h2{
    margin-bottom:10px;
    font-size: 37px;
    line-height: 1.2;
    margin-top:0;
    font-family: "Ubuntu",sans-serif;
    color:#000;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 700;
}

.oneStepSectionPara{
    font-size: 14px;
}

.oneStepSectionImgContainer{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}

.oneStepSectionImg{
    display: block;
    width: 500px;
    object-fit: contain;
    height: 100%;
    @media (max-width:768px) {
        width: 320px;
        height: 187.5px;
    }
}

.ourProductSectionBr{
    @media (max-width: 768px) {
        display: none;
    }
}

.ourProductsContainer{
    max-width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}

.ourProductsHeading{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    font-family: "Ubuntu",sans-serif;
    color:#000;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.ourProductsListContainer1{
    display: flex;
    justify-content: space-between;
    background: #fffef2;
}

.ourProductsListContainer2{
    display: flex;
    flex-direction: column;
}

.ourProductsListItem{
    display: flex;
    align-items: center;
    margin: 14px 0;
}

.ourProductsListItem h4{
    width: 300px;
    margin-right: 50px;
    font-size: 24px;
    color:#000;
    font-family: "Ubuntu",sans-serif;
}

.ourProductsListContainerLeftHeading{
    font-size: 24px;
}

.ourProductsListItemRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ourProductsListItemRight div{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);

    @media (max-width: 1000px) {
        width: 128px;
        height: 128px;
    }
}

.ourProductsListItemRight div:hover{
    border:1.5px solid #ee3425;
}

.ourProductsListItemRight h4{
    margin-top:5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
    color:#000;
    font-family: "Ubuntu",sans-serif;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    cursor: pointer;
}

.cardFindOutMore{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
}

.cardFindOutMoreText {
    font-size: 14px;
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
    margin-right: 4px;
}



.ourProductsListContainer2InnerDiv{
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

.ourProductsListContainer2InnerDiv > h4{
    width: 300px;
}

@media (max-width: 1000px) {
    .ourProductsContainer{
        width:100%;
    }
    .ourProductsHeading{
        padding: 0;
        margin-bottom: 0;
        text-align: inherit;
        font-size: 20px;
    }
    .ourProductsListContainer1{
        display: flex;
        padding: 0;
    }
    .ourProductsListContainer2{
        /* width:100%; */
        display: flex;
        flex-direction: column;
    }
    .ourProductsListContainerLeftHeading{
        font-size: 16px;
        padding-top: 20px;
    }
    .ourProductsListItem{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .ourProductsListItem h4{
        display: flex;
        width: 100%;
        margin-right: 0;
        font-size: 16px
    }
    .ourProductsListItemRight{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .ourProductsListItemRight div{
        width: 128px;
        height: 128px;
        padding: 0;
        margin: 8px;
        text-align: center;
        }
    .ourProductsListItemRight h4{
        width:fit-content;
        margin-bottom: 5px;
        font-size: 14px;
        margin-top: 5px;
        line-height: 1.3em;
    }
    .cardFindOutMore{
        margin-top: 15px;
        margin-bottom: 6px;
    }
    .cardFindOutMoreText{
        font-size: 12px;
    }

}

@media (max-width: 767px) {
    .ourProductSectionContainer{
        width:100%;
    }
    .oneStepSection{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin:0;
        width:100%;
    }
    .oneStepSection h2{
        display: block;
        font-size: 24px;
    }
    .oneStepSectionImgContainer{
        width:100%;
    }
    .oneStepSectionImg{
        width:100%;
    }
}