.industriesServedContainer {
    background-color: rgb(255, 254, 243);
}

.industriesServedInnerContainer{
    display: block;
    max-width: 1200px;
    padding:16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
}

.industriesServedHeading{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color:#000;
    font-family: "Ubuntu",sans-serif;
}

.industriesServedItemsContainer{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;

    @media (max-width: 850px) {
        justify-content: center;
    }
}

.industriesServedItems{
    margin: 10px;
}

.industriesServedItems img {
    height: 100px;
    width: 100px;
}

.industriesServedItems div {
    font-family: "PT Sans",sans-serif;;
    line-height: 1.5;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: center;
}